<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Dear {{ user.username }},</p>
    <p>
        To reset your password 
        <a href="{{ url_for('reset_password',token=token,_external=True) }}">
            click here
        </a>.
    </p>
    <p>Alternatively you can paste the link in your browser's address bar:</p>
    <p>{{ url_for('reset_password',token=token,_external=True) }}</p>
    <p>Kindly ignore this message if you did not request a password reset</p>
    <p>Warm regards,</p>
    <p>The blog app team</p>
</body>
</html>