{% extends 'base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<h1> {{ _('Sign In') }}</h1>
{{ wtf.quick_form(form)}}
<p><b>{{ _('Not Signed Up?') }}</b><a href="{{ url_for('auth.register') }}"><b>{{ _('Click to register') }}<b></a></p>
<p>
    <b>{{ _('Forgot your password?') }}</b>
    <a href="{{url_for('auth.reset_password_request')}}"><b>{{ _('Click to reset') }}</b></a>
</p>
{% endblock %}
<br>
{%block head %}
<style>
    .button{
        width: 150px;
        height: 50px;
        font-size: 14px;
        border-radius: 30px;
    }

</style>
<p><a href="{{url_for('auth.login_google')}}"><button class="button"><b>{{ _('Sign In with Google')}}<b></button></a></p>
{% endblock %}